/* style section aboutus start */
section.aboutusSection{
    width: 100%;
    padding: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: #e5e5e5;
    box-shadow: inset 0px 0px 200px #000000;
}

section.aboutusSection h2.aboutusHeading{
    font-size: 4rem;
    padding: 10rem;
}

section.aboutusSection p.aboutusParagraf{
    font-size: 3rem;
    text-align: center;
}
/* style section aboutus stop */