/* section contact responsive start */
@media all and (max-width:1250px){
    section.contactSection{
        flex-direction: column;
    }
    section.contactSection .contactInner{
        width: 100%;
    }
}
@media all and (max-width:828px){
    section.contactSection .contactInnerHolder{
        width: 100%;
    }
    section.contactSection address.contactAdress{
        width: 100%;
    }
}
/* section contact responsive stop */