/* setting font for a project start */
html{
    font-size: 10px;
}

p{
    font-family: 'Slabo 27px', serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Poppins', sans-serif;
}

.quotes{
    font-family: 'Oswald', sans-serif;
}

form,
input,
textarea,
form > p,
::placeholder{
    font-family: 'Krub', sans-serif;
}
/* setting font for a project stop */
