/* setting font for a project start */
html {
    font-size: 10px;
}

p {
    font-family: 'Ranga', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

.quotes {
    font-family: 'Dancing Script', cursive;
}

form,
input,
textarea,
form>p,
::placeholder {
    font-family: 'Dancing Script', cursive;
}

/* setting font for a project stop */