/* style nav responsive start */
@media all and (max-width:688px){
    nav.mainNav{
        height: 100vh;
    }
    nav.mainNav ul.navList li.navListItem{
      width: 40%;
    }
    nav.mainNav ul.navList li.navListItem a.navListItemLink{
      width: 100%;
    }

    nav.mainNav ul.navList{
        flex-direction: column;
    }
}

/* style nav responsive stop */
