/* section offer responsive start */
@media all and (max-width:968px){
    section.offerSection .offerCardHolder .offerCardHolderInner{
        width: 100%;
    }
    section.offerSection .offerCardHolder .offerCardHolderInner p.offerCardHolderInnerParagraf.active{
        font-size: 2rem;
    }
}
@media all and (max-width:580px){
    section.offerSection h2.offerHeading{
        font-size: 3rem;
        padding: 3rem;
    }
    section.offerSection .offerCardHolder .offerCardHolderInner h3.offerCardHolderInnerHeading{
        font-size: 2rem;
    }
    section.offerSection .offerCardHolder .offerCardHolderInner p.offerCardHolderInnerParagraf{
        font-size: 2rem;
        padding: 0;
        text-shadow: 0;
    }
    section.offerSection{
        padding: 0;
    }
}

/* section offer reponsive stop */
