/* reset default size of browser start */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
}
/* reset default size of browser stop */